.buttom-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: #fff;
  height: 100%;
  border-radius: 0;
  font-size: 16px;
  img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
  .title{
    white-space: nowrap;
  }
}